
#HeaderForm{

    font: bold;
    font-size: x-large;
    color: blue;
    padding-left: 400px;


}

.RegisterFormClass{

    background-color: antiquewhite;
    padding: 30px;
    margin: 190px;
    border: 2px solid black; 
    border-radius: 10px;
    width: 60%;    
}

section
{
    padding: 30px;
    border: 2px solid #ccc; 
    border-radius: 10px;
}
input {
    width: 40%;
    /*adds padding inside the input field*/
    padding: 1em;
    border: 1px solid #ccc;
    /* rounds the corners*/
    border-radius: 4px;
    box-sizing: border-box;
    /*add space above the input field*/
    margin-top: 0.375rem;
    /*add space under the input field*/
    margin-bottom: 1rem;
  }

  #Submitbttn{

   background-color: green;
  }

  input[type="file"] {
    padding: 0.625em;
  }
  
  input[type="checkbox"] {
    margin-right: 0.625rem;
    width: auto;
    
  }

  input[type="radio"] {
    margin-right: 0.5rem;
    width: auto;
    height: auto;
  }

  #article{
        background-image: url('wolf.jpeg'); 
        /* Ensures the image covers the entire section */
        background-size: cover; 
        /*center img*/
        background-position: center; 
        /* Add padding inside each comment. */
        padding: 2em; 
        /* Use a border to separate the comment section from the rest of the page*/
        border: 2px solid #ccc; 
        border-radius: 10px;
        /* Apply a margin between individual comments*/
        margin-top: 2em;
        margin-bottom: 2em; 
  }

/*
 Exercise 9:  Form with CSS Selectors
 

 

 -->
*/


